.main_container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    body {
      overflow-x: hidden;
    }
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    body {
      overflow-x: hidden;
    }
    max-width: 1280px;
  }
}

.gridContainer {
  padding-bottom: 40px;

  @media screen and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    display: grid;
    width: 100%;
    grid-template-areas:
      'headmain headsidebar'
      'heaSecondLine headsidebar'
      'main sidebar';
    grid-template-columns: 1fr 300px;
  }
}

.gridItem1 {
  margin: 30px 0 0 0;
  @media screen and (min-width: 768px) {
    margin: 30px 0 40px 0;
  }
  @media screen and (min-width: 1280px) {
    grid-area: heaSecondLine;
    margin: 40px 0 0 0;
  }
}

.gridItem2 {
  @media screen and (max-width: 1279px) {
  }

  @media screen and (min-width: 1280px) {
    grid-area: headsidebar;
  }
}

.gridItem3 {
  margin-bottom: 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 120px;
    margin-bottom: 20px;
    margin-right: 32px;

    grid-area: main;
  }
}

.gridItem4 {
  font-family: Montserrat;
  width: 280px;
  padding: 20px 20px 22px 20px;
  margin-bottom: 32px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  @media screen and (min-width: 768px) {
    width: 704px;
    margin-bottom: 53px;
  }
  @media screen and (min-width: 1280px) {
    position: relative;
    left: 6px;
    margin-top: 120px;
    margin-bottom: 20px;

    grid-area: sidebar;
    width: 288px;
  }
}

.gridItem5 {
  margin: 20px 0 10px 0;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    grid-area: headmain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 10px 0;
  }
}

.myTrainingContainer {
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 928px;
    margin-top: 6px;
    margin-right: 32px;
  }
}

.myTrainingHeader {
  padding: 18px 0 18px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #b1b5c2;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  @media screen and (max-width: 767px) {
    min-width: 280px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.datePicker_wrapper {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.select_container {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 23px;
  }
}

.selectButton {
  display: block;
  width: 171px;
  height: 42px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
  color: #000000;
  background-color: transparent;
  border: 1px solid #242a37;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    min-width: 181px;
  }
}

.selectButton:hover {
  border: 1px solid #f25137;
}

.selectButton:disabled {
  color: #898f9f;
  background-color: transparent;
  border: 1px solid #898f9f;
  cursor: initial;
}

.timerSection {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.datePicker {
  width: 280px;
  height: 42px;
  padding-left: 47px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #a6abb9;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  cursor: pointer;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  background: #f6f7fb;
  border: 1px solid #a6abb9;
}

.resultsHeader,
.statisticsHeader {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.25;
  color: #242a37;
  text-align: center;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.resultsHeader {
  font-weight: 600;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 27px;
  }
}

.statisticsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 700;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    justify-content: flex-start;
    margin-bottom: 6px;
  }
}

.statisticsHeader::after,
.statisticsHeader::before {
  content: ' ';
  height: 1px;
  width: 100%;
  background: #e0e5eb;
}

.statisticsHeader::before {
  margin-right: 4px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 0;
    height: 0;
    margin: 0;
  }
}

.statisticsHeader::after {
  margin-left: 4px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 128px;
    margin-left: 8px;
  }
}

.startTrainingButton {
  display: block;
  width: 171px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  background-color: #ff6b08;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #d15807;
  }
  &:disabled {
    color: #b1b5c2;
    background-color: transparent;
    border: 1px solid #b1b5c2;
    cursor: auto;
  }
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
  }
}

.profileMainLoader {
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileMainLoader .loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
}
.profileMainLoader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular_loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader_path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #ff6b08;
  }
  40% {
    stroke: #ff6b08;
  }
  66% {
    stroke: #ff6b08;
  }
  80%,
  90% {
    stroke: #ff6b08;
  }
}
@keyframes color {
  0% {
    stroke: #ff6b08;
  }
  40% {
    stroke: #ff6b08;
  }
  66% {
    stroke: #ff6b08;
  }
  80%,
  90% {
    stroke: #ff6b08;
  }
}
