.MuiTable-root {
}
.tableRow {
}
.cellDate,
.cellTime,
.cellPage {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.21;
  padding: 0px;
  border: none;
}
.cellDate {
  color: #242a37;
}

.cellTime {
  color: #898f9f;
}
.cellPage {
  color: #242a37;
}

.cellPage::after {
  content: ' стор.';
  color: #898f9f;
}
