.section {
    display: block;
}

.form__container {
    padding: 32px 20px;
}

.google__auth {
    display: inline-block;
    text-align: center;
    padding: 8px 24px;
    margin-bottom: 20px;
    color: black;
    background-color: antiquewhite;
    cursor: pionter;
    border: 1px solid black;

}

.label__title {
    font-size: 14px;
    color: white;
    margin: 0;
    margin-bottom: 8px;
}

.input {
    padding: 12px 8px;
    min-width: 280px;
    margin-bottom: 20px;
}

.form__button {
    display: block;
    padding: 20px 0;
    margin-bottom: 16px;
    min-width: 280px;
    color: #ffffff;
    background-color: #FF6B08;
    border: 1px solid #FF6B08;
    cursor: pointer;
}

.form__button:hover {
    background-color: #c05006;
}

.warning {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    text-transform: lowercase;
    color: rgb(161, 0, 0);
}

/* =============================================== */

.text__container {
    text-align: center;
    padding: 20px 45px;
}

.quote {
    font-size: 13px;
    margin: 0;
    margin-bottom: 16px
}

.hr {
    width: 100px;
    color: rgba(36, 42, 55, 0.5);
    margin-bottom: 12px;
}

.author {
    margin: 0;
    font-size: 14px;
    color: #898F9F;
}

/* =============================================== */
.registration__text {

}

.title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 34px;
    color: #242A37;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    color: #242A37;
    margin: 0;
    margin-bottom: 14px;
}

.registration__list {
    margin-bottom: 24px;
}

.registration__list2 {
    margin-bottom: 60px;
}

.registration__item {
    margin-bottom: 12px;
}

.item__text {
    font-size: 14px;
    font-weight: 500;
    color: #898F9F;
}