.chartBox {
    position: relative;
    padding: 14px 22px;
    background-color: white;
    width: 100%;
    height: 75%;
}

@media screen and (min-width: 768px) {
    .chartBox {
        padding: 25px 35px;
        height: 90%;
    }
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #242A37;
}

.planedPages {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px; 
    text-transform: uppercase;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 6px 8px;
    margin-left: 8px;
    color: #242A37;
    background-color: #F5F7FA;
}

.lineList {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #091E3F;
}

.chartValue {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 15px;
    right: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #091E3F;
}

.lineBox {
    position: absolute;
    height: auto;
    right: 10px;
    top: 100px;
}

@media screen and (min-width: 768px) {
    .lineBox {
            right: 0px;
            top: 130px;
        }
}

.lineList {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.lineItem {
    width: 50px;
    height: 30px;
    margin-right: 11px;
    background-color: rgba(245, 247, 250, 0.85);
    box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
    text-align: center;
    color: #ff6b08;

}

@media screen and (min-width: 768px) {
    .lineItem {
        margin-right: 45px;
    }
}

.lineItem:not(:last-child) {
    margin-bottom: 10px;
    color: #242a37;
}

.avaregePgesPerDay {
    width: 25px;
    height: 25px;
    padding: 4px;
    background: #f6f7fb;
}