@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    padding-top: 20px;
    width: 100%;
    margin-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .table {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .table + .table {
    margin-top: 20px;
  }
  .title {
    margin: 0 0 20px 0;
  }
  .item {
    padding: 20px 26px 32px 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .item + .item {
    margin-top: 16px;
  }
  .subtitle:first-child {
    margin-bottom: 15px;
    margin-left: 0;
  }
  .subtitle {
    margin-bottom: 15px;
    margin-left: 36px;
  }
  .subtitle:last-child {
    margin-bottom: 32px;
    margin-left: 36px;
  }
  .subtitleRating {
    display: flex;
    margin-bottom: 32px;
    margin-left: 36px;
  }
  .img {
    margin-left: 0;
    margin-right: 14px;
  }
  .topic {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    margin-right: 20px;
  }
  .btn {
    width: 127px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .rating {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    max-width: 768px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .subTable {
    width: 100%;
    border-spacing: 0 10px;
  }
  .table + .table {
    margin-top: 40px;
  }
  .title {
    margin: 0 0 24px 0;
  }
  .subtitleRating {
    display: flex;
    text-align: center;
    align-items: center;
    height: 60px;
  }

  .head {
    width: 100%;
  }
  .topic {
    margin-bottom: 8px;
  }
  .item {
    height: 62px;
  }

  .img {
    margin-left: 20px;
    margin-right: 18px;
  }

  .btn {
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .table + .table {
    margin-top: 32px;
  }
  .title {
    margin: 0 0 24px 0;
  }
  .subTable {
    width: 100%;
    border-spacing: 0 10px;
  }
  .subtitleRating {
    display: flex;
    text-align: center;
    align-items: center;
    height: 60px;
  }

  .head {
    width: 100%;
  }
  .topic {
    margin-bottom: 8px;
  }
  .item {
    height: 62px;
  }

  .img {
    margin-left: 20px;
    margin-right: 18px;
  }
  .btn {
    width: 130px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
  }
}
/* .section {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
} */
.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.21;
  color: #242a37;
  text-align: left;
}
.head {
  width: 100%;
}
.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #242a37;
}
.topic {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #898f9f;
  text-align: left;
}
.item {
  background-color: #ffffff;
  list-style-type: none;
}
.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  background-color: #6d7a8d;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #898f9f;
}

.btnDelete {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.meaning {
  display: inline-block;
  width: 110px;
}
.meaningTitle {
  display: inline-block;
  width: 160px;
}
