@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn {
    width: 171px;
    height: 42px;
  }
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 40px;
  background-color: #ff6b08;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #d15807;
}
