.verify__overlay {
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 40%);

    overflow-y: scroll;
    cursor: pointer;
}

.verify__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    cursor: default;
}

.verify__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #242A37;
    margin: 0;
    margin-bottom: 30px;
}

.verify__container {
    width: 300px;
    padding: 30px 10px;
}

.verify__label {
    text-align: left;
        font-size: 14px;
        color: #898F9F;
        margin: 0;
        margin-bottom: 8px;
}

.verify__input {
    padding: 12px 8px;
    min-width: 280px;
    margin-bottom: 10px;
}

.verify__warning {
    margin: 0;
        margin-left: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        text-transform: lowercase;
        text-align: left;
        color: #e0190b;
}

.verify__default {
    display: block;
    height: 14px;
    margin-bottom: 10px;
}

.verify__default {
    display: block;
    height: 14px;
    margin-bottom: 10px;
}

.verify__button {
    display: block;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    min-width: 280px;
    color: #ffffff;
    background-color: #FF6B08;
    border: 1px solid #FF6B08;
    cursor: pointer;
}


/* ! ==================================== !!! MEDIA !!! =============================== ! */

@media screen and (min-width: 769px) {
    .verify__container {
        width: 400px;
        padding: 40px;
    }

    .verify__input {
        padding: 12px 12px;
        min-width: 320px;
    }

    .verify__button {
        min-width: 320px;
    }

    .verify__warning,
    .verify__default {
        margin-bottom: 22px;
    }
}