.blok_info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: #242A37;
}

.blok_info div {
    padding-bottom: 20px;
}

.blok_info div+div{
    padding-bottom: 40px;
}

.title{
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 8px;
  }

.subtitle{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}

.text{
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #898F9F;
    margin-left: 34px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.text span {
    color: #FF6B08;
    margin-right: 8px;
    
}

img {
    margin-right: 12px;
}

