.overlay {
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    overflow-y: scroll;
    cursor: pointer;
}

.modal {
    position: absolute;
    width: 100%;
    border: 1px solid #000;
    cursor: default;
}