.container {
  width: 280px;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-right: 29px;
  padding-left: 14px;
  text-align: center;
}
.thumbUp {
  margin-bottom: 4px;
  width: 54px;
  height: 54px;
}
.text {
  font-family: Montserrat;
  font-style: 16px;
  line-height: 1.375;
  font-weight: 500;
  text-align: center;
  color: #242a37;
  margin-bottom: 24px;
}
.btnTraining {
  width: 152px;
  height: 40px;
  background-color: #ff6b08;
  padding: 12px 12px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.btnBack {
  width: 152px;
  height: 40px;
  border: 1px solid #000000;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) inset;
}
