.backBtn {
  display: none;
}
.formCont {
  padding-top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .backBtn {
    display: block;
    width: 25px;
    height: 15px;
    margin-bottom: 32px;
  }
  .formCont {
    width: 100%;
    height: 100%;
    z-index: 120;
    background: #f6f7fb;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .form {
    background: #f6f7fb;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* justify-content: center; */
  }
  .labelTitle,
  .labelAuthor,
  .labelDate {
    margin-bottom: 20px;
  }
  .labelPages {
    margin-bottom: 40px;
  }
  .inputTitle,
  .inputAuthor,
  .inputDate,
  .inputPages {
    width: 280px;
  }
  .btn {
    margin: 0 auto;
    display: block;
  }

  .formHidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form {
    max-width: 768px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .wrapper {
    width: 704px;
    display: flex;
  }
  .labelTitle {
    /* max-width: 768px; */
    width: 704px;
    margin-bottom: 0px;
    /* margin-bottom: 24px; */
    height: 100px;
  }
  .labelAuthor {
    width: 336px;
    margin-right: 32px;
    height: 120px;
  }
  .labelDate {
    width: 152px;
    margin: auto 32px auto 0;
    height: 120px;
  }
  .labelPages {
    width: 152px;
    height: 120px;
  }
  .inputTitle,
  .inputAuthor,
  .inputDate,
  .inputPages {
    width: 100%;
  }
  .btn {
    margin: 10px auto 0 auto;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .wrapper {
    display: flex;
  }
  .labelTitle {
    width: 350px;
    margin-right: 16px;
    height: 100px;
  }
  .labelAuthor {
    width: 250px;
    margin-right: 16px;
    height: 100px;
  }
  .labelDate {
    width: 145px;
    margin-right: 16px;
    height: 100px;
  }
  .labelPages {
    width: 145px;
    margin-right: 48px;
    height: 100px;
  }
  .inputTitle,
  .inputAuthor,
  .inputDate,
  .inputPages {
    width: 100%;
  }
  .btn {
    margin: 25px 0 auto 0;
  }
}
/* .form {
  margin-left: auto;
  margin-right: auto;
} */
.labelTitle,
.labelAuthor,
.labelDate,
.labelPages {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #898f9f;
}

.inputTitle {
  display: block;
  background: #ffffff;
  border: none;
  box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
  margin-top: 8px;
  height: 42px;
  padding-left: 10px;
}
.inputAuthor,
.inputDate,
.inputPages {
  display: block;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  margin-top: 8px;
  height: 42px;
  padding-left: 10px;
}
.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  width: 181px;
  height: 42px;
  background: #f6f7fb;
  border: 1px solid #242a37;
  cursor: pointer;
  padding: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  border: 1px solid #f25137;
}
.message {
  margin-top: 5px;
}
.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
