@media screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    width: calc(100% - 2 * 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* justify-content: center; */
  }
  .label {
    margin-bottom: 45px;
  }

  .label:last-child {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .inputTitle,
  .inputAuthor,
  .inputDate,
  .inputPages {
    width: 100%;
  }
  .btn {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    width: 704px;
    margin-bottom: 40px;
  }
  .inputTitle {
    width: 704px;
    margin-bottom: 24px;
  }
  .inputAuthor {
    width: 336px;
    margin-right: 32px;
  }
  .inputDate {
    width: 152px;
    margin-right: 32px;
  }
  .inputPages {
    width: 152px;
  }
  .btn {
    margin: 40px auto 0 auto;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 2 * 16px);
    margin-bottom: 80px;
  }
  .inputTitle {
    width: 346px;
    margin-right: 16px;
  }
  .inputAuthor {
    width: 250px;
    margin-right: 16px;
  }
  .inputDate {
    width: 134px;
    margin-right: 16px;
  }
  .inputPages {
    width: 134px;
    margin-right: 48px;
  }
  .btn {
    margin: auto 0 0 0;
  }
}
.form {
  margin-left: auto;
  margin-right: auto;
}
.label {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #898f9f;
}

.inputTitle {
  display: block;
  background: #ffffff;
  border: none;
  box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
  margin-top: 8px;
  height: 42px;
}
.inputAuthor {
  display: block;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  margin-top: 8px;
  height: 42px;
}
.inputDate,
.inputPages {
  display: block;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  margin-top: 8px;
  height: 42px;
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  width: 181px;
  height: 42px;
  background: #f6f7fb;
  border: 1px solid #242a37;
}
