.modal {
  padding: 30px 10px;
}

.modal_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  margin: 0 0 20px 0;
  color: #242a37;
}

.btn_modal {
  display: flex;
  justify-content: space-evenly;
}

.btn_modal button {
  width: 150px;
  height: 40px;

  display: block;
  justify-content: space-evenly;
  border-radius: 0%;
  background-color: #ff6b08;

  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.btn_modal button:hover,
.btn_modal button:focus,
.btn_info:hover,
.btn_info:focus {
  color: #ffffff;
  background-color: #ff6b08;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.modalInfo {
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 36px;
}

.btn_info {
  display: block;
  width: 127px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
  background-color: transparent;
}

.nav img {
  display: block;
  margin-right: 0;
}
