.main_container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  
  @media screen and (min-width: 320) {
    body {
      overflow-x: hidden;
    }
    width: 320px;
  }

  @media screen and (min-width: 480px) {
    body {
      overflow-x: hidden;
    }
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    body {
      overflow-x: hidden;
    }
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}